<div class="container-flex">
  <div class="row no-gutters">
    <div class="col heading"><span>Angular Web Core</span></div>
  </div>
  <div class="row no-gutters justify-content-center">
    <div class="col-lg-4 card-container">
      <mat-card class="mat-card">
        <mat-card-header>
          <mat-card-title>Mis Libros</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/books.png"
          alt="Books Photo"
          class="image-container"
        />
        <mat-card-content>
          <p>
            Ver y administrar tus libros
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            routerLink="/book"
            mat-flat-button
            color="accent"
            class="no-focus"
          >
            IR
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-lg-4 card-container">
      <mat-card class="mat-card">
        <mat-card-header>
          <mat-card-title>Intercambios</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/exchange.jpg"
          alt="Exchange Photo"
          class="image-container"
        />
        <mat-card-content>
          <p>
            Busca a alguien con quien intercambiar
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            routerLink="/exchange"
            mat-flat-button
            color="accent"
            class="no-focus"
          >
            IR
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-lg-4 card-container">
      <mat-card class="mat-card">
        <mat-card-header>
          <mat-card-title>Reseñas</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/ratings.png"
          alt="Ratings Photo"
          class="image-container"
        />
        <mat-card-content>
          <p>
            Añade una reseña a los usuarios con quienes haz realizado un
            intercambio
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            routerLink="/rating"
            mat-flat-button
            color="accent"
            class="no-focus"
          >
            IR
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <br />
</div>
