<div class="container-flex">
  <div class="row no-gutters">
    <div class="col heading"><span>Agregar Usuario</span></div>
  </div>

  <br />
  <div class="row no-gutters justify-content-center">
    <div class="col-lg-5">
      <div class="general-container mat-elevation-z8">
        <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
          <div class="example-container">
            <mat-form-field class="full-width input-gutters">
              <mat-label>Nombre de Usuario</mat-label>
              <input matInput formControlName="username" />
              <mat-error
                *ngIf="
                  addUserForm.get('username').hasError('minlength') &&
                  !addUserForm.get('username').hasError('required')
                "
              >
                El nombre de usuario debe tener <strong>mínimo</strong> 4
                caracteres
              </mat-error>
              <mat-error
                *ngIf="
                  addUserForm.get('username').hasError('maxlength') &&
                  !addUserForm.get('username').hasError('required')
                "
              >
                El nombre de usuario debe tener <strong>máximo</strong> 100
                caracteres
              </mat-error>
              <mat-error
                *ngIf="addUserForm.get('username').hasError('required')"
              >
                El nombre de usuario es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="full-width input-gutters">
              <mat-label>Correo</mat-label>
              <input matInput formControlName="email" />
              <mat-error
                *ngIf="
                  addUserForm.get('email').hasError('email') &&
                  !addUserForm.get('email').hasError('required')
                "
              >
                Ingrese un correo válido
              </mat-error>
              <mat-error *ngIf="addUserForm.get('email').hasError('required')">
                El correo es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="full-width input-gutters">
              <mat-label>Clave</mat-label>
              <input matInput formControlName="password" />
              <mat-error
                *ngIf="
                  addUserForm.get('password').hasError('minlength') &&
                  !addUserForm.get('password').hasError('required')
                "
              >
                La clave debe tener <strong>mínimo</strong> 4 caracteres
              </mat-error>
              <mat-error
                *ngIf="addUserForm.get('password').hasError('required')"
              >
                La clave es <strong>obligatoria</strong>
              </mat-error>
            </mat-form-field>
            <div class="buttons-container">
              <button
                type="button"
                mat-raised-button
                color="warn"
                (click)="onCancel()"
              >
                Cancelar
              </button>
              <button
                type="submit"
                mat-raised-button
                color="primary"
                [disabled]="!addUserForm.valid"
              >
                Agregar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
