<div class="container-flex">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="nav-container">
      <span class="nav-title"><a routerLink="/">Web Core</a></span>
      <span class="divider"></span>
      <button
        *ngIf="user"
        class="menu-item nav-item"
        mat-flat-button
        [mat-menu-trigger-for]="menu"
        color="accent"
      >
        Admin
      </button>
      <mat-menu #menu="matMenu" xPosition="after">
        <a class="menu-item" mat-menu-item routerLink="/book">
          Libros
        </a>
        <a class="menu-item" mat-menu-item routerLink="/category">
          Categorías
        </a>
      </mat-menu>
      <span class="fill-space"></span>
      <button
        *ngIf="!!user"
        class="nav-item"
        mat-flat-button
        color="warn"
        (click)="logout()"
      >
        Logout
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
