<div class="container-flex" *ngIf="!!user">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="nav-container">
      <span *ngIf="user.role == 'admin'" class="nav-title"
        ><a routerLink="/admin">Web Core</a></span
      >
      <span *ngIf="user.role != 'admin'" class="nav-title"
        ><a routerLink="/">Web Core</a></span
      >
      <span class="divider"></span>
      <button
        *ngIf="user.role == 'admin'"
        class="menu-item nav-item"
        mat-flat-button
        [mat-menu-trigger-for]="menu"
        color="accent"
      >
        Admin
      </button>
      <mat-menu #menu="matMenu" xPosition="after">
        <a class="menu-item" mat-menu-item routerLink="/admin-book">
          Libros
        </a>
        <a class="menu-item" mat-menu-item routerLink="/category">
          Categorías
        </a>
        <a class="menu-item" mat-menu-item routerLink="/admin-exchange">
          Intercambio
        </a>
        <a class="menu-item" mat-menu-item routerLink="/admin-rating">
          Reseñas
        </a>
      </mat-menu>

      <button
        *ngIf="user.role == 'admin'"
        class="menu-item nav-item"
        mat-flat-button
        [mat-menu-trigger-for]="reportMenu"
        color="accent"
      >
        Reportes
      </button>
      <mat-menu #reportMenu="matMenu" xPosition="after">
        <a class="menu-item" mat-menu-item routerLink="/report/ratings">
          Reporte de Reseñas
        </a>
        <a class="menu-item" mat-menu-item routerLink="/report/books">
          Reporte de Libros
        </a>
        <a class="menu-item" mat-menu-item routerLink="/report/categories">
          Reporte de Categorías
        </a>
        <a class="menu-item" mat-menu-item routerLink="/report/users">
          Reporte de Usuarios
        </a>
        <a class="menu-item" mat-menu-item routerLink="/report/months">
          Reporte de Meses
        </a>
        <a class="menu-item" mat-menu-item routerLink="/report/failed-exchange">
          Reporte de Intercambios Fallidos
        </a>
      </mat-menu>
      <button
        *ngIf="user.role != 'admin'"
        class="menu-item nav-item"
        mat-flat-button
        color="accent"
        routerLink="/book"
      >
        Mis Libros
      </button>
      <button
        *ngIf="user.role != 'admin'"
        class="menu-item nav-item"
        mat-flat-button
        color="accent"
        routerLink="/exchange"
      >
        Intercambios
      </button>
      <button
        *ngIf="user.role != 'admin'"
        class="menu-item nav-item"
        mat-flat-button
        color="accent"
        routerLink="/rating"
      >
        Reseñas
      </button>
      <span class="fill-space"></span>
      <span>Bienvenido, {{ user.username }}</span>
      <button
        *ngIf="!!user"
        class="nav-item"
        mat-flat-button
        color="warn"
        (click)="logout()"
      >
        Logout
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
