<div class="container-flex">
  <div class="row no-gutters">
    <div class="col heading"><span>Angular Web Core</span></div>
  </div>
  <div class="row no-gutters justify-content-center">
    <div class="col-lg-4 card-container">
      <mat-card class="mat-card">
        <mat-card-header>
          <mat-card-title>Usuarios</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/users.png" alt="Photo of a Shiba Inu" />
        <mat-card-content>
          <p>
            Listar, crear, modificar y eliminar usuarios
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            routerLink="/user"
            mat-flat-button
            color="accent"
            class="no-focus"
          >
            IR
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
