<div class="container-flex">
  <div class="row no-gutters">
    <div class="col heading"><span>Angular Web Core - ADMIN</span></div>
  </div>
  <div class="row no-gutters justify-content-center">
    <div class="col-lg-4 card-container">
      <mat-card class="mat-card">
        <mat-card-header>
          <mat-card-title>Libros</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/books.png"
          alt="Books Photo"
          class="image-container"
        />
        <mat-card-content>
          <p>
            Listar, crear, modificar y eliminar libros
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            routerLink="/admin-book"
            mat-flat-button
            color="accent"
            class="no-focus"
          >
            IR
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-lg-4 card-container">
      <mat-card class="mat-card">
        <mat-card-header>
          <mat-card-title>Categorías</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/category.png"
          alt="Books Photo"
          class="image-container"
        />
        <mat-card-content>
          <p>
            Listar, crear, modificar y eliminar categorías de libros
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            routerLink="/category"
            mat-flat-button
            color="accent"
            class="no-focus"
          >
            IR
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-lg-4 card-container">
      <mat-card class="mat-card">
        <mat-card-header>
          <mat-card-title>Intercambios</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/exchange.jpg"
          alt="Exchange Photo"
          class="image-container"
        />
        <mat-card-content>
          <p>
            Listar, crear, modificar y eliminar intercambios de libros
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            routerLink="/admin-exchange"
            mat-flat-button
            color="accent"
            class="no-focus"
          >
            IR
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row no-gutters justify-content-center">
    <div class="col-lg-4 card-container">
      <mat-card class="mat-card">
        <mat-card-header>
          <mat-card-title>Reseñas</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/ratings.png"
          alt="Ratings Photo"
          class="image-container"
        />
        <mat-card-content>
          <p>
            Listar, crear, modificar y eliminar reseñas de usuarios
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            routerLink="/admin-rating"
            mat-flat-button
            color="accent"
            class="no-focus"
          >
            IR
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <br />
</div>
